<%- include ('./header.ejs') %>
  <link rel="stylesheet" href="/css/apiService.css">
  <script type="text/javascript" src = "/js/apiService.js"></script>
  <title>Honey API service - API service</title>
</head>
<body>
  <div class = "container">
    <div class = "inner">
      <div id = "free" class = "contents contents-no-light js-free-version free-version">
        <header>
          <div class = "title"><h1>FREE .ver</h1></div>
        </header>
        <section>
          FUNCTIONS
          <div>
            <ul>
              <li> comment function - new</li>
            </ul>
          </div>
        </section>
      </div>
      <span>
        <div id = "premium" class = "contents contents-no-light js-premium-version premium-version">
          <header>
            <div class = "title"><h1>PREMIUM .ver</h1></div>
          </header>
          <section>
            FUNCTIONS
            <div>
              <ul>
                <li> comment function - all (new and old)</li>
              </ul>
            </div>
          </section>
        </div>
      </span>
    </div>
  </div>
</body>
<%- include ('./footer.ejs') %>
